@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Lager variabler for farger som skal brukes videre i koden*/
:root{
    --blue:#2A324B; 
    --lighterblue:#58699D;
    --gray:#E1E5EE;
    --white:#fff;
}

body{
    background: var(--gray);
}

nav{
    text-align: center;
    padding-top: 200px;
}

nav li{
    list-style: none;
    text-align: center;
    display: flex;
    display: inline;
}


nav li a{
    font-family: "Roboto";
    font-weight: 700;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    padding: 20px 40px 20px 40px; 
}

a:hover{
    background: var(--white);
    color: var(--blue);
}