@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Lager variabler for farger som skal brukes videre i koden*/
:root{
    --blue:#2A324B; 
    --lighterblue:#58699D;
    --gray:#E1E5EE;
    --white:#fff;
}

body{
    background: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main{
    width: 800px;
    background-color: var(--white);
    padding: 0;
}

header{
    padding-bottom: 0;
}



#menu{
    color: var(--white);
    justify-content: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0;
}

#menu button{
    padding: 20px;
}

#menu ul{
    display: inline-block;
}

#menu ul li{
    margin-right: 44px;
}

h2{
    font-family: "Roboto";
}

#menu ul button{
    display: inline-block;
    color: var(--white);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    background-color: var(--blue);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
}

ul{
    margin-bottom: 0;
}

#menu li button:hover {
    background-color: var(--white);
    color: var(--blue);
}


ul li a {
    font-family: "Roboto";
    font-size: 15px;
}




main {
    box-sizing: border-box;
    height: 300px;
    min-width: 800px;
    max-width: 900px;
    width: 100%;
 
}


p{
    color: var(--blue);
    font-family: "Roboto";
}

nav li{
    list-style: none;
    padding: 0;
}

a:hover{
    background: var(--white);
    color: var(--blue);
}